[submodule "opus-tools"]
	path = lib/opus-tools
	url = https://git.xiph.org/opus-tools.git
[submodule "opus"]
	path = lib/opus
	url = https://git.xiph.org/opus.git
[submodule "libogg"]
	path = lib/libogg
	url = https://git.xiph.org/ogg.git
